@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.collapsible::-webkit-scrollbar {
  width: 4px;
}

.collapsible::-webkit-scrollbar-track {
  background: #dee3ff;
  border-radius: 8px;
}

.collapsible::-webkit-scrollbar-thumb {
  background: #2c4734;
  border-radius: 8px;
}